/* TODO adjust colors */
.searchHistoryContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(47, 47, 70);
  width: 550px;
  margin-top: 10px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.header-center {
    text-align: center;
}
