#SearchInput {
  margin-top: 20px;
  margin-left: 150px;
  border-radius: 5px;
}
#SearchInputButton {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #83b600;
}

#SearchResultCard {
  display: flex;
  margin-top: 20px;
  margin-left: 150px;
}

#OpenPDF {
  color: black;
  background-color: #83b600;
}

#CopyResult {
  color: white;
  background-color: blue;
}

#Alert {
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

#DemoPaper {
  max-height: 160px;
  margin-top: 20px;
  margin-left: 20px;
  min-width: 140px;
}

#FontAwesomeIcon {
  margin-top: 20px;
  margin-left: 40px;
  
}
