html, body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: aliceblue;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* all Buttons have same styling */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 1000;
    font-family: inherit;
    background-color: rgb(61, 64, 104);
    color: #646cff;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

input{
    border-radius: 8px;
    border: 0px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: rgb(102, 107, 169);
    transition: background-color 0.25s;
}

input:hover {
    background-color: rgb(138, 144, 226);
  }